# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go coverage files
*.out

# Dependency directories
/vendor/
Gopkg.lock
go.sum

# Environment variables
.env

# Logs
*.log
logs/

# Compiled files
*.o
*.a
*.log
*.test

# IDE/editor-specific files
.vscode/
.idea/
*.swp
